input, textarea {
    width: 250px;
    margin-bottom: 15px;
    font-size: 20px;
}

form {
    text-align: center;
    padding: 15px;
    box-shadow: 0 0 5px gray;
    margin-bottom: 25px;
}

.posts-list {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 25px;
}

.post {
    background-color: #f7f8ff;
    width: 500px;
    padding: 15px;
    border-radius: 5px;
    border: solid 1px black;
}